html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: win95;
    src: url('W95FA.otf') format('opentype');
}

:root {
    --gray: #AFAFAF;
    --lightRed: #FFB9B9;
    --red: #BB484C;
    --darkRed: #591416;
    --green: #928D68;
    --darkGreen: #484846;
    --linkSize: 20px;
    --cardContentSize: 22px;
    --headerSize: 30px;
    --buttonTextSize: 28px;
}

* {
    font-family: 'win95', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
    font-weight: normal;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin: 0;
}

h1 {
    font-size: var(--headerSize);
    color: var(--lightRed);
}

button {
    background-color: var(--red);
    padding: 25px 100px;
    border-radius: 15px;
    font-size: var(--buttonTextSize);
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all .1s ease-in-out;
    box-shadow: 5px 5px 0px black;
}

button:hover {
    background-color: var(--darkRed);
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 2px black;

}

a {
 color: white;
 font-size: var(--linkSize);
 text-decoration: none;
 position: relative;
 top: 0px;
 transition: top .05s ease-in-out;       
}

a:hover {
  color: var(--gray);
  text-decoration: underline;
  top: 1px;
}

.BigIcon {
    width: max(150px, 20vw);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}